// place your custom styles here
@font-face {
    font-family: FangYuan;
    src: url(../assets/font/7isTenjrxLF1.woff), url(../assets/font/7isTenjrxLF1.woff2);
}

:root {
    --font-family: "FangYuan";
    --font-family-heading: var(--font-family);
    --font-family-mono: var(--font-family);
}
html[data-theme="dark"] {
    --bg-color: #22272e;
    --bg-color-float: var(--bg-color);
    --text-color: #adbac7;
    --light-grey: var(--text-color);
    --code-demo-header-bg-color: #282c34;
    code {
        background: #2b313a;
    }
}
body {
    position: relative;
}

.nav-link.vp-action.default {
    background-color: unset;
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
    &:hover {
        background-color: var(--theme-color);
        color: var(--bg-color);
    }
}
.vp-sidebar {
    background: var(--bg-color);
}
.vp-navbar {
    background: var(--bg-color);
    .nav-item {
        button,
        svg,
        a {
            color: var(--text-color);
        }
        > .nav-link {
            color: var(--text-color);
        }
    }
}
#toc .toc-link,
.vp-breadcrumb li.is-active a,
.page-info,
.vp-footer-wrapper {
    color: var(--text-color);
}
.disabled-elements {
    h3 {
        font-size: 1.15rem;
    }
}

.theme-hope-content:not(.custom) h1:first-child,
.theme-hope-content:not(.custom) h2:first-child,
.theme-hope-content:not(.custom) h3:first-child,
.theme-hope-content:not(.custom) h4:first-child,
.theme-hope-content:not(.custom) h5:first-child,
.theme-hope-content:not(.custom) h6:first-child {
    margin-bottom: 1rem;
    margin-top: calc(0.5rem - var(--navbar-height)) !important;
    padding-top: calc(1rem + var(--navbar-height)) !important;
}
.vp-nav-logo,
.vp-blog-hero-image {
    border-radius: 50% !important;
}
//组件自定义样式
.m-card {
    --card-font-size: 1.15rem;
    h3,
    h4 {
        font-size: var(--card-font-size);
        a {
            position: relative;
            z-index: 10;
        }
    }
    p {
        margin: 0;
    }
}
.disabled-elements {
    --disabled-color: #f11e3f;
    .m-card {
        h3 {
            color: var(--disabled-color);
            a,
            code {
                color: var(--disabled-color) !important;
            }
        }
    }
}
.theme-hope-content {
    li {
        margin: 0.5rem 0;
    }
}

.mermaid-content {
    .nodeLabel {
        white-space: pre-line;
        display: block;
    }
    .edgeLabel {
        font-size: 0.75rem;
        display: block;
        border: 2px;
    }
}
strong {
    font-weight: 700;
}

//首页样式
.vp-blog-hero-image{
    width: 9rem;
    border-radius: 50%;
}
.vp-blog-hero-title{
    font-size: 1.75rem;
    font-weight: 600;
    color: #fff;
    text-shadow:
        0 2px var(--theme-color),
        2px 0 var(--theme-color),
        0 -2px var(--theme-color),
        -2px 0 var(--theme-color),
        2px 2px var(--theme-color),
        2px -2px var(--theme-color),
        -2px -2px var(--theme-color),
        -2px 2px var(--theme-color);
}
.vp-blog-hero-description {
    font-weight: 700;
    font-size: 1.25rem;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}
.vp-blog-mask::after{
    background: unset !important;
}

.vp-nav-links{
    .nav-link{
        display: flex;
        align-items: center;
        img.icon{
            width:1rem;
            height: 1rem;
        }
    }
}