:root {
    // brand colors
    --c-brand: #409eff;
    --c-brand-light: #409eff;
    --c-tip:#409eff;
    .custom-page{
        tr:nth-child(2n) {
            background-color: transparent;
            transition: background-color;
        }
        tr:nth-child(2n) code {
            background-color: #f3f4f5;
        }
    }
    
}
html.dark {
    // brand colors
    --c-brand: #409eff;
    --c-brand-light: #409eff;
    --c-tip:#409eff;
    .custom-page{
        tr:nth-child(2n) {
            background-color: transparent;
            transition: background-color;
        }
        tr:nth-child(2n) code {
            background-color: #2b313a;
        }
    }
}
