:root {
    // brand colors
    --c-brand: #409eff;
    --c-brand-light: #409eff;
    --c-tip:#409eff;
}
html.dark {
    // brand colors
    --c-brand: #409eff;
    --c-brand-light: #409eff;
    --c-tip:#409eff;
}

